        <div class="kaori-branded-bar">
          <div class="kaori-branded-bar__individual" color-{{ block.settings.color_scheme }}></div>
          <div class="kaori-branded-bar__individual" color-{{ block.settings.color_scheme }}></div>
          <div class="kaori-branded-bar__individual" color-{{ block.settings.color_scheme }}></div>
          <div class="kaori-branded-bar__individual" color-{{ block.settings.color_scheme }}></div>
          <div class="kaori-branded-bar__individual" color-{{ block.settings.color_scheme }}></div>
        </div>